{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container p-3 ">
        <h1>Farmers Edge Server</h1>
        <h1>Change your Password</h1>
        <form>
            <label>New password</label>
            <input type="text" class="form-control col-md-2" name="password"/>
            <button class="btn btn-success">Change Password</button>
        </form>
        <p>After successfully changing your password, navigate to the login page to login and get going</p>
    </div>
</body>
</html>